/* Global Background */
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: Verdana;
    margin: 0px;
}

header, nav ul, #content-wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    color: #008000;
}

/* Logo Positioning */
header {
    position: relative;
}

img.logo {
    position: absolute;
    top: 0px;
    left: 0px;
}

header h1, nav ul {
    padding-left: 50px;
}


/* Navbar Styles */
nav {
    background-color: #008000;
    width: 100%;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
li {
    display: inline-block;
    padding: 1rem;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 1rem;
    display: inline-block;
}
nav a:hover {
    background-color: black;
    color: #9ae39a;
}

/* Home Page Main Image */
main img {
    border: 3px double #333;
    float: left;
    margin: 0.5rem 1rem 0.5rem 0;
}

/* Sidebar Styles */
aside section {
    background-color: white;
    border: 1px solid #008000;
    margin-bottom: 1rem;
}
aside h3 {
    background-color: #008000;
    color: white;
    padding: 0.5rem;
    margin: 0;
}
aside a {
    display: inline-block;
    padding: 0.5rem;
}

/* Home Page Columns */
#content-wrapper {
    display: flex;
}
#content-wrapper aside {
    background-color: #ccc;
    margin-right: 1rem;
    padding: 0.5rem;
    position: relative;
    top: 20px;
    flex: 1;
    order: 1;
}
#content-wrapper main {
    flex: 4;
    order: 2;
}
main h2 {
    margin-top: 0;
    white-space: nowrap;
}
